<mat-nav-list>
    <div class="row " >
        <div class="col-md-6">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="kwame picture" class="rounded-circle " width="150px" height="150px">
            <b class="ml-5 text-bold">Administrator</b>
        </div>
        
    </div>
    <br>
    <mat-divider></mat-divider>
    
<h2 matSubheader> Pages </h2>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/"> Dashboard</a>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/posts"> Posts</a>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/articles"> Articles</a>

<mat-divider></mat-divider>
    
<h2 matSubheader> Tools </h2>
<a  mat-list-item  routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon> Contact Us</a>

    <a  mat-list-item  routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon> Leads</a>

<mat-divider></mat-divider>
</mat-nav-list>

